<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Bem-vindo ao RailsChat!
      </h4>
      <hr />
      <p>
          Você pode criar ou ingressar em uma sala na barra lateral.
      </p>
    </div>
  </div>
</div>