<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Os estilos de email precisam estar alinhados */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
